<html>
 <center> 
 This page is created by Ansible <p>
 This is a message from {{ansible_hostname}} and the message is {{web_mesg}}
 click here for server info: <a href="http://192.168.1.38:99/serverinfo.html">{{ansible_hostname}}</a>

 </center>
</html>